---
import Hero from "@layouts/Hero"
import Feature from "@layouts/Feature"

import BuiltWith from "@components/BuiltWith"
import Footer from "@components/Footer"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/dipc_dark.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>dipc</title>
	</head>
	<body>
		<Hero
			title="dipc"
			description="Convert your favorite images and wallpapers with your favorite color palettes/themes"
		/>
		<Feature />
		<BuiltWith />
		<Footer />
	</body>
</html>
